body {
    border-bottom: 2px green solid;
    border-top: 2px green solid;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
}

#budgetSection,
#expenseSection {
    min-height: 50vh;
    box-shadow: 0px 0px 12px rgb(147, 147, 147);
    border-radius: 20px;
}

#budgetAmount {
    min-width: 200px;
    color: rgb(100, 100, 100);
}

#budgetAmount:focus {
    box-shadow: rgb(110, 211, 255) 1px 1px 10px;
}

#expenseName {
    max-width: 75%;
    border: rgb(75, 75, 75) 1px solid;
    color: rgb(85, 85, 85);
}

#expenseAmount {
    max-width: 20%;
    border: rgb(75, 75, 75) 1px solid;
    color: rgb(85, 85, 85);
}

#amountRange {
    width: 60%;
}

#table tbody tr {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease;
}

#table tbody tr:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

tr,
th,
td {
    border: 1px solid grey;
    padding: 16px !important;
    text-align: left !important;
}

td {
}